.lander {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 1vw;
}

.navbarcontainer {
  display: flex;
  margin-top: 0px;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.8vw;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 50px;
  opacity: 0;
  background-color: var(--base-background-color);
  z-index: var(--z-index-navbar);
}

.navbar h4 {
  font-weight: 500;
  clip-path: inset(var(--landerPageClip) 0 0 0);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  clip-path: inset(var(--landerPageClip) 0 0 0);
}

.menutext {
  font-size: 15px;
  font-family: "General Sans Medium", sans-serif;
}
.menuplus {
  font-size: 12px;
  font-family: "General Sans ", sans-serif;
}
.menu button {
  background-color: transparent;
  color: #fff;
  border: 0 solid transparent;
  height: fit-content;
  padding: 0px;
  margin: 2px;
  text-align: center;
  vertical-align: center;
}

#mouseCircle {
  display: block;
  position: fixed;
  width: var(--mouse-circle-size);
  height: var(--mouse-circle-size);
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: var(--base-background-color);
  background-color: transparent;
  z-index: var(--z-index-mouse-circle);
  pointer-events: none;
}

#mouseCircleInner {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  z-index: var(--z-index-mouse-circle);
  transition: all cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: step-end;
}

.product {
  /* margin-top: 25vh; */
  font-size: 10.42vw;
  margin-left: 2.5vw;
  width: fit-content;
  text-transform: uppercase;
  line-height: 10.13vw;
  color: #a3a3a3;
  font-family: "General Sans Medium", sans-serif;
  --clip: 0%;
  clip-path: inset(0 0 var(--landerPageClip) 0);
  opacity: 0;
}

.designer {
  font-size: 10.42vw;
  margin-left: 13.5vw;
  text-transform: uppercase;
  line-height: 10.13vw;
  width: fit-content;
  color: #a3a3a3;
  font-family: "General Sans Medium", sans-serif;
  --clip: -0%;
  clip-path: inset(0 0 var(--landerPageClip) 0);
  opacity: 0;
}

.toronto {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
  text-align: right;
  color: #fff;
  opacity: 0;
}

.freelance {
  text-align: end;
  text-transform: uppercase;
  margin-right: 3vw;
  vertical-align: top;
  font-size: 0.825rem;
  line-height: 1.25rem;
  opacity: 0;
}
.footer {
  display: flex;
  margin: 0 3vw;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1vh;
  opacity: 0;
}
.footerlinks {
  width: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p a {
  display: inline-flex;
  text-decoration: none;
  color: #fff;

  text-align: left;
  justify-content: space-between;
  align-items: start;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer p a span svg {
  vertical-align: -0.6em;
  padding-left: 0.25rem;
}

.iconset {
  display: flex;
  gap: 4px;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.iconset .circle i {
  color: #050505;
}

@media (min-width: 1280px) {
  .navbar {
    font-size: 1.125rem;
  }
}

@media (max-width: 1024px) {
  .footer p a {
    font-size: 0.74rem;
  }
}

@media (max-width: 768px) {
  .toronto {
    font-size: 0.525rem;
    line-height: 1.45rem;
  }

  .freelance {
    font-size: 0.525rem;
    line-height: 1.45rem;
  }
  .iconset {
    display: none;
  }

  .footerlinks {
    width: 94vw;
  }

  .footer .nbsp {
    display: none;
  }
}
