#page2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 12vw;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: brown;
}

.cynthiadp {
  object-fit: cover;
  width: 12rem;
  vertical-align: middle;
  margin-left: 12vw;
  margin-right: 5vw;
}

#page2 span {
  opacity: 0.5;
  font-family: "General Sans", sans-serif;

  font-size: 0.875rem;
  font-weight: 500;
}
#page2 p {
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 26px;
  font-family: "General Sans", sans-serif;
  margin: 0 8vw;
}

#page2 a {
  display: flex;
  font-family: "General Sans", sans-serif;
  font-size: 0.75rem;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  text-align: center;
  width: fit-content;
  line-height: 1rem;
  padding: 0.375rem 1rem;
  margin: 20px 8vw;
}

@media (max-width: 768px) {
  #page2 {
    flex-direction: column;
  }
  #page2 p {
    width: calc(90vw - 2.5rem);
  }
  #page2 span {
    font-size: 0.75rem;
  }
}

@media (min-width: 1024px) {
  #page2 p {
    font-size: 1rem;
  }
  #page2 img {
    width: 235px;
  }
  .cynthiadp {
    width: 15rem;
  }
}

@media (min-width: 1280px) {
  #page2 p {
    font-size: 1.125rem;
    line-height: 28px;
  }
}
